{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load rvt_data_incl %}


{% block title %}
    View CSV Data
{% endblock %}

{% block content %}
    <h2 class="sub-header">VM List (vInfo) For Batch {{ batch }}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>VM</th>
                <th>Datacenter</th>
                <th>Cluster</th>
                <th>Host</th>
                <th>Powerstate</th>
                <th>OS (config)</th>
                <th>Provisioned MB</th>
                <th>In Use MB</th>
                <th>Unshared MB</th>
            </tr>
            </thead>
            <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.rvt_vi_vm }}</td>
                <td>{{ record.rvt_vi_datacenter }}</td>
                <td>{{ record.rvt_vi_cluster }}</td>
                <td>{{ record.rvt_vi_host }}t</td>
                <td>{{ record.rvt_vi_powerstate }}</td>
                <td>{{ record.rvt_vi_os_config }}</td>
                <td>{{ record.rvt_vi_provisioned_mb }}</td>
                <td>{{ record.rvt_vi_in_use_mb }}</td>
                <td>{{ record.rvt_vi_unshared_mb }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}